<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>list.html</title>
</head>
<body>
	<th:block th:replace="~{/layout/basicLayout :: setContent(~{this::content2})}">
		<th:block th:fragment="content2">
			<div class="container-fluid text-center">
				<!-- 조건 추가 -->
				<form th:action="@{/webboard/list2}" method="get" id="searchForm">
					<div class="input-group">
						<input type="text" name="page" value="1">
						<input type="text" name="size" th:value="${pageRequestDTO.size}">
						
						<div class="input-group-prepend">
							<select class="custom-select" name="type">
								<option value="t" th:selected="${pageRequestDTO.type=='t'}">제목</option>
								<option value="c" th:selected="${pageRequestDTO.type=='c'}">내용</option>
								<option value="w" th:selected="${pageRequestDTO.type=='w'}">작성자</option>
								<option value="tc" th:selected="${pageRequestDTO.type=='tc'}">제목+내용</option>
								<option value="tcw" th:selected="${pageRequestDTO.type=='tcw'}">제목+내용+작성자</option>
							</select>
							<input class="form-control" name="keyword" th:value="${pageRequestDTO.keyword}"/>
						</div >
						
						<div class="input-group-prepend" id="button-addon4">
							<button type="submit" class="btn btn-outline-secondary btn-search">Search</button>
							<button type="reset" class="btn btn-outline-secondary btn-clear">Clear</button>
						</div>
					</div>
				</form>
				
				<h1>WebBoard 목록</h1>
				<table class="table table-striped">
					<tr>
						<td>게시글 번호</td>
						<td>작성자(아이디)</td>
						<td>제목</td>
						<td>내용</td>
						<td>등록일</td>
						<td>수정일</td>
						<td>댓글 수</td>
					</tr>
					<tr th:each="board:${boardResult.dtoList}">
						<td>
							<a th:href="@{/webboard/detail(bno=${board.bno})}" th:text="'@RequestParam 이용 : ' + ${board.bno}"></a>
							/
							<a th:href="@{/webboard/detail2/{bno}(bno=${board.bno})}" th:text="'@PathVariable 이용 : ' + ${board.bno}"></a>
						</td>
						<td>[[${board.mname}]]([[${board.mid}]])</td> <!-- 인라인 스타일 -->
						<td>[[${board.title}]]</td>
						<td>[[${board.content}]]</td>
						<td>[[${#dates.format(board.regdate, 'yyyy-MM-dd HH:mm:ss')}]]</td> <!-- HH : 24시간 형식 -->
						<td>[[${#dates.format(board.updatedate, 'yyyy-MM-dd HH:mm:ss')}]]</td> <!-- HH : 24시간 형식 -->
						<td>[[${board.replyCount}]]</td>
					</tr>
				</table>
				
				<ul class="pagination h-100 justify-content-center align-items-center">
					<li class="page-item" th:if="${boardResult.prev}">
						<a class="page-link" th:href="@{/webboard/list2(page=${boardResult.start-1},size=${pageRequestDTO.size},
						type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}" tabindex="-1">Previous</a>
					</li>
					<li class="'page-item' + ${boardResult.page==page?'active':''}" th:each="page:${boardResult.pageList}">
						<a class="page-link" th:href="@{/webboard/list2(page=${page},size=${pageRequestDTO.size},
						type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}" tabindex="-1">[[${page}]]</a>
					</li>
					<li class="page-item" th:if="${boardResult.next}">
						<a class="page-link" th:href="@{/webboard/list2(page=${boardResult.end+1},size=${pageRequestDTO.size},
						type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}">Next</a>
					</li>
				</ul>
			</div>
		</th:block>
	</th:block>
</body>
</html>