<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>hello3.html</title>
<link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
	<h1>타임리프 사용하기</h1>
	<p>original : [[${now}]]</p>
	<p>dates.format : [[${#dates.format(now, 'yyyy-MM-dd')}]]</p>
	<hr>
	
	<p>original : [[${price}]]</p>
	<p>numbers.formatInteger : [[${#numbers.formatInteger(price, 3, 'COMMA')}]]</p>
	<hr>
	
	<p>original : [[${title}]]</p>
	<p th:text="${#strings.replace(title, 's', '<b>s</b>')}"></p>
	<p th:utext="${#strings.replace(title, 's', '<b>s</b>')}"></p>
	<p th:utext="${#strings.replace(title, 's', '<i>s</i>')}"></p>
	<p th:utext="${#strings.toUpperCase(title)}"></p>
	<ul>
		<li th:each="word:${#strings.listSplit(title, ' ')}">[[${word}]]</li>
	</ul>
	<hr>
	
	<p>original : [[${options}]]</p>
	<ul>
		<li th:each="op:${options}">[[${op}]]</li>
	</ul>
	
	<h2>링크 연습</h2>
	<ul>
		<li><a href="http://localhost:7777/shinhan/freeboard/list">board 조회1</a></li>
		<li><a th:href="@{http://localhost:7777/shinhan/freeboard/list}">board 조회2</a></li>
		<li><a th:href="@{/freeboard/list}">board 조회3</a></li>
		<li><a th:href="@{/freeboard/list(myname='James')}">board 조회(파라미터 전달)</a></li>
		<li><a th:href="@{~/shinhan/freeboard/list}">board 조회4(다른 context 상대 경로)</a></li>
	</ul>
	<img alt="watch" th:src="@{/assets/watch.jpg}">
</body>
</html>